sudo: false
language: node_js
node_js:
  - '4.1'
  - '0.12'
  - '0.10'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
notifications:
  email:
    on_success: change
    on_failure: always
